Django==5.1.7
djangorestframework==3.16.0
drf_yasg==1.21.10
django_filter==24.3
STO-OSCR>=2025.2.15.0
whitenoise==6.9.0
psycopg[binary,pool]==3.2.6
requests>=2.31.0
django-json-widget>=2.0.1

# NOTE: For Development:
# django-stubs django-types
