{% extends 'template.html' %}
{% block 'content' %}
{% load l10n %}
{% load static %}
{% load ladder %}
{% load ladder_entry %}
    <form action="{% url 'ladder_entries' %}">
        <div class="row" data-bs-theme="dark">
            <div class="col col-md-2">
                <input type="text" class="form-control form-control-sm" id="inputPlayer" name="player__icontains" placeholder="player@handle" value="{{request.GET.player__icontains}}">
            </div>
            <div class="col col-md-2">
                <select name="ladder__name" id="inputMap" class="form-control form-control-sm">
                    <option value="">All Ladders</option>
                    {% ladder_names as names %}
                    {% for name in names %}
                        <option
                            {% if request.GET.ladder__name == name %}
                            selected
                            {%else%}
                            {%endif%}
                            value="{{name}}">
                        {{name}}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col col-md-2">
                <select name="ladder__variant__name" id="inputVariant" class="form-control form-control-sm">
                    <option value="">All Variants</option>
                    {% ladder_variants as variants %}
                    {% for variant in variants %}
                        <option
                            {% if request.GET.ladder__variant__name == variant %}
                            selected
                            {%else%}
                            {%endif%}
                            value="{{variant}}">
                        {{variant}}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col col-md-2">
                <select name="ladder__difficulty" id="inputDifficulty" class="form-control form-control-sm">
                    <option value="">All Difficulties</option>
                    {% ladder_difficulties as difficulties %}
                    {% for difficulty in difficulties %}
                        <option
                            {% if request.GET.ladder__difficulty == difficulty %}
                            selected
                            {%else%}
                            {%endif%}
                            value="{{difficulty}}">
                        {{difficulty}}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col col-md-2">
                <select name="ladder__is_solo" id="inputDifficulty" class="form-control form-control-sm">
                    <option value="">All Group Sizes</option>
                    <option
                        {% if request.GET.ladder__is_solo == "1" %}
                        selected
                        {%else%}
                        {%endif%}
                        value="1">Solo</option>
                    <option
                        {% if request.GET.ladder__is_solo == "0" %}
                        selected
                        {%else%}
                        {%endif%}
                        value="0">2+ Players</option>
                </select>
            </div>
            <div class="col col-md-2">
                <button type="submit" class="btn btn-primary btn-sm float-end">Search</button>
            </div>
        </div>
        <hr>
        <div data-bs-theme="dark">
            <table class="table table-dark table-hover table-sm table-responsive">
                <thead>
                    <tr scope="row">
                        <th scope="col">Result</th>
                        <th scope="col">Rank</th>
                        <th scope="col">Date</th>
                        <th scope="col">Player</th>
                        <th scope="col">Variant</th>
                        <th scope="col">Map</th>
                        <th scope="col">Difficulty</th>
                        <th scope="col">DPS</th>
                        <th scope="col">Damage</th>
                        <th scope="col">Time</th>
                        <th scope="col">Build</th>
                        <th scope="col">Group Size</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                {% for entry in ladderentry_list %}
                    <tr scope="row">
                        <td>{% rank entry request %}</td>
                        <td>{% ladder_rank entry request %}</td>
                        <td>{{entry.combatlog.metadata.date_time|date:"DATE_FORMAT"}}</td>
                        <td>{{entry.player}}</td>
                        <td>{{entry.ladder.variant.name}}</td>
                        <td>{{entry.ladder.name}}</td>
                        <td>
                            {% if entry.ladder.difficulty == "Elite" %}
                                <img src="{% static 'img/18px-TFO_elite_icon.png' %}"></img>&nbsp;Elite
                            {% elif entry.ladder.difficulty == "Advanced" %}
                                <img src="{% static 'img/18px-TFO_advanced_icon.png' %}"></img>&nbsp;Advanced
                            {% elif entry.ladder.difficulty == "Normal" %}
                                <img src="{% static 'img/18px-TFO_normal_icon.png' %}"></img>&nbsp;Normal
                            {% elif entry.ladder.difficulty is None %}
                                <img src="{% static 'img/18px-TFO_normal_icon.png' %}"></img>&nbsp;Any
                            {% else %}
                            {{entry.ladder.difficulty}}
                            {% endif %}
                        </td>
                        <td>{{entry.data.DPS|floatformat:0|localize}}</td>
                        <td>{{entry.data.total_damage|floatformat:0|localize}}</td>
                        <td>{{entry.data.combat_time|floatformat:0|localize}}s</td>
                        <td>{{entry.data.build}}</td>
                        <td>
                            {% if entry.ladder.is_solo %}
                            Solo
                            {% else %}
                            2+ Players
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'combatlog' entry.combatlog.pk %}" target="_blank"><img src="{% static 'img/info.svg' %}" data-toggle="tooltip" data-placement="top" title="Details"></img></a>
                            {% if entry.combatlog.youtube %}
                                <a href="https://www.youtube.com/watch/{{entry.combatlog.youtube}}" target="_blank">
                                    <img src="{% static 'img/youtube.svg' %}" data-toggle="tooltip" data-placement="top" title="Youtube"></img>
                                </a>
                            {% else %}
                                <img src="{% static 'img/youtube.svg' %}" data-toggle="tooltip" data-placement="top" title="Youtube" class="invisible"></img>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        <div data-bs-theme="dark">
            <div class="col">
                <nav aria-label="" class="float-end">
                  <ul class="pagination pagination-sm">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <button name="page" value="{{ page_obj.previous_page_number }}" type="submit" class="page-link" aria-label="Previous">
                               <span aria-hidden="true">&laquo;</span>
                            </button>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <button type="submit" class="page-link" aria-label="Previous">
                               <span aria-hidden="true">&laquo;</span>
                            </button>
                        </li>
                   {% endif %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">
                            Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
                        </a>
                    </li>
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <button name="page" value="{{ page_obj.next_page_number }}" type="submit" class="page-link" aria-label="Next">
                               <span aria-hidden="true">&raquo;</span>
                            </button>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <button type="submit" class="page-link" aria-label="Next">
                               <span aria-hidden="true">&raquo;</span>
                            </button>
                        </li>
                   {% endif %}
                  </ul>
                </nav>
            </div>
        </div>
    </form>
{% endblock %}
