name: Generate Artifacts

on: push

jobs:
  build_binary:
    # if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: "3.10"

    - run: pip install -r requirements.txt
    - run: python3 manage.py generate_swagger -f yaml -u http://127.0.0.1 dist/OSCR-django.yaml
    - uses: actions/upload-artifact@v2
      with:
        name: build_binary
        path: dist/*

  release:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: [ build_binary ]
    name: Create release
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Download
        uses: actions/download-artifact@v3
        with:
          name: build_binary
          path: dist
      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          artifacts: dist/*
